= render(:partial => "shared/meetings_list", :locals => {:@meeting => @meeting})

%h3 Participation list
%table
  %tr
    %th Name

  -@meeting.attendees.each do |user|
    %tr
      %td= user.name

-if @user.already_participates(@meeting)
  %h4 Your notes
  = fields_for :participation do |f|
    .field
      = f.text_area :comments , :rows => 3
    .actions
      = f.submit "Add note"


-if @user.already_participates(@meeting)
  = button_to  "Resign", {:controller => "participations", :action => "destroy",
                          :meeting_id => @meeting.id, :user_id => session[:user_id] }, :method => :delete
-else
  -if @meeting.has_no_host?
    = link_to 'Host', {:action => "create", :user_as_host => true,
                        :meeting_id => @meeting.id, :user_id => session[:user_id]}
    \|
  -if  @meeting.has_free_places?
    = link_to  "Attend", {:action => "create", :meeting_id => @meeting.id,
                         :user_id => session[:user_id]}
\|
= link_to "Back", meetings_path