%h1 Listing meetings

%table
  %tr
    %th Starts at
    %th Ends at
    %th Title
    %th Description
    %th Place
    %th Tutor
    %th Total places
    %th
    %th
    %th

  - @meetings.each do |meeting|
    %tr
      %td= meeting.starts_at
      %td= meeting.ends_at
      %td= meeting.title
      %td= meeting.description
      %td= meeting.place
      %td= meeting.tutor
      %td= meeting.total_places
      %td= link_to 'Show', meeting
      %td= link_to 'Edit', edit_meeting_path(meeting)
      %td= link_to 'Destroy', meeting, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Meeting', new_meeting_path
