%h1 Listing meetings

%table
  %tr
    %th
    %th Meeting time
    %th
    %th Title
    %th Place
    %th Tutor
    %th Places
    %th
    %th
    %th

  - @meetings.each do |meeting|
    %tr
      %td #{meeting.meeting_date}
      %td #{meeting.start_time} to #{meeting.end_time}
      %td
      %td= meeting.title
      %td= meeting.place
      -if meeting.has_no_host?
        %td
      -else
        %td= meeting.host.name
      %td= meeting.available_places
      - if signed_in?
        %td= link_to 'Show', meeting_or_participation(meeting)
        -if admin?
          %td= link_to 'Edit', edit_meeting_path(meeting)
          %td= button_to 'Destroy', meeting , :confirm => 'Are you sure?', :method => :delete
        -else
          -if @user.already_participates(meeting)
            %td= button_to  "Resign", {:controller => "participations", :action => "destroy",
                                    :meeting_id => meeting.id, :user_id => @user.id}, :method => :delete
          -else
            -if meeting.has_no_host?
              %td= link_to 'Host', participation_params(meeting, true)
            -if meeting.has_free_places?
              %td= link_to  "Attend", participation_params(meeting, false)

%br
- if admin?
  = link_to 'New Meeting', new_meeting_path
