%h1 Meetings with Google
%h3 Store your schedule to Google Calendar
%h5 Powered by glorious Ruby on Rails :)
%ul#menu-bar
  %li=  link_to "Meetings", meetings_path
  -if admin?
    %li=  link_to "Users",    users_path
  -if signed_in?
    %li   Signed in as #{User.find(session[:user_id]).name}
    %li=  link_to "Sign out", signout_path
  -else
    - if !(controller.controller_name.eql?("sessions"))
      %li=  link_to "Sign in",  signin_path