%ul
  %li=  link_to "Meetings", meetings_path
  -if admin?
    %li=  link_to "Users",    users_path
  -if signed_in?
    -if this_user.attends_any_meetings?
      %li=  link_to "My meetings", {:controller => "participations", :action => "index",
                                    :user_id  => this_user.id}
    %li   Signed in as #{this_user.name}
    %li=  link_to "Sign out", signout_path
  -else
    - if !(controller.controller_name.eql?("sessions"))
      %li=  link_to "Sign in",  signin_path