!!!
%html
  %head
    %title MeetingsWithGoogle
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #container
      #header
        = render 'shared/header'
      #content
        %p#notice= notice

        = yield
      #sidebar
      #footer
      #footer-debug
        = debug(params) if Rails.env.development?
        -if Rails.env.development?
          -if signed_in?
            %p Logged in as #{User.find(session[:user_id]).name}
          %p Remembered location: #{session[:previous_location].inspect.to_s}
          %p request.refer = #{request.referer}