!!!
%html
  %head
    %title MeetingsWithGoogle
    = csrf_meta_tag
    = stylesheet_link_tag :all
    = stylesheet_link_tag "jquery-ui-1.8.16.custom"
    = stylesheet_link_tag "jquery.timeentry"
    = javascript_include_tag "jquery"
    = javascript_include_tag 'jquery_ujs'
    = javascript_include_tag "jquery-ui-1.8.16.custom.min"
    = javascript_include_tag "jquery.timeentry.pack"
    = javascript_include_tag "application"
  %body
    #container
      #header
        = render 'shared/header'
      #main-nav
        = render 'shared/main_menu'
      #content
        %p#notice= notice
        = yield
      #footer